{% extends 'adminmaster/adminmaster.html' %}

{% block admincontent %}
<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">Edit Course Information</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="students.html">Courses</a></li>
               <li class="breadcrumb-item active">Edit Courses</li>
            </ul>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            
            <div class="card-body">
               
               <form action="{% url 'editCoursePage' courseinfo.id %}" method="POST" enctype="multipart/form-data">
                 {% csrf_token %}
                  <div class="row">
                     <div class="col-12">
                        <h5 class="form-title"><span>Course Information</span></h5>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>কোর্সের নাম</label>
                           <input type="text" name="coursename" value="{{courseinfo.CourseName}}" class="form-control">
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>কোর্সের সময়সীমা</label>
                           <input type="text" name="courseduration" value="{{courseinfo.CourseDuration}}" class="form-control">
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>সপ্তাহে ক্লাস (দিন)</label>
                           <input type="text" name="weeklyclass" value="{{courseinfo.WeeklyClass}}" class="form-control">
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>ক্লাসের সময় (ঘন্টা)</label>
                           <input type="text" name="coursedurationhour" value="{{courseinfo.ClassDurationHour}}" class="form-control">
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>ক্লাসের সময় (মিনিট)</label>
                           <input type="text" name="coursedurationminute" value="{{courseinfo.ClassDurationMinute}}" class="form-control">
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>কোর্স ফি</label>
                           <input type="text" name="coursefee" value="{{courseinfo.CourseFee}}" class="form-control">
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>কোর্স সম্পর্কে</label>
                           <textarea type="text" name="aboutcourse" class="form-control">{{courseinfo.AboutCourse}}</textarea>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>কোর্সে যা থাকবে</label>
                           <textarea type="text" name="coursetopics" class="form-control">{{courseinfo.CourseTopics}}</textarea>
                        </div>
                     </div>
                     
                    <div class="col-12 col-sm-6">
                     <div class="form-group">
                        <label>কোর্সের ছবি</label>
                        <input type="file" name="courseimage" class="form-control">
                     </div>
                  </div>
                    
                     
                     <div class="col-12">
                        <button type="submit" value="{{courseinfo.}}" class="btn btn-primary">Submit</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
    
{% endblock admincontent %}
    