{% extends 'adminmaster/adminmaster.html' %}

{% block admincontent %}
<div class="content container-fluid">
   <div class="page-header">
      <div class="row">
         <div class="col-sm-12">
            <h3 class="page-title">Welcome Admin!</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item active">Dashboard</li>
            </ul>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-xl-3 col-sm-6 col-12 d-flex">
         <div class="card bg-two w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class="fas fa-user-graduate"></i>
                  </div>
                  <div class="db-info text-center">
                     <h3>{{totalStudents}}</h3>
                     <h6>Students</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <div class="col-xl-3 col-sm-6 col-12 d-flex">
         <div class="card bg-one w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class="fas fa-user-graduate"></i>
                  </div>
                  <div class="db-info text-center">
                     <h3>{{pendingstudent}}</h3>
                     <h6>Pending Students</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 d-flex">
         <div class="card bg-three w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class="fas fa-layer-group"></i>
                  </div>
                  <div class="db-info text-center">
                     <h3>{{totalbatch}}</h3>
                     <h6>Total Batch</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-xl-3 col-sm-6 col-12 d-flex">
         <div class="card bg-four w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class="fas fa-book"></i>
                  </div>
                  <div class="db-info text-center">
                     <h3>{{totalCourse}}</h3>
                     <h6>Courses</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>

   <div class="row">
      
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <h3 class="page-title">Students List</h3>
               <hr>
               <div class="table-responsive">
                   {% include 'commons/message.html' %}
                  <table id="tabledata" class="table table-striped table-bordered" cellspacing="0" width="100%">
                     <thead>
                        <tr>
                           <th>Roll No</th>
                           <th>Photo</th>
                           <th>Name</th>
                           <th>Course Name</th>
                           <th>Mobile Number</th>
                           <th>Address</th>
                           <th>Admission Date</th>
                           <th class="text-right">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                       
                       {% for i in studentinfo %}
                       <tr>
                          <td>{{i.RollNo}}</td>
                          <td>
                           <h2 class="table-avatar">
                              <a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{i.StudentPhoto.url}}" alt="User Image"></a>
                           </h2>
                          <td>
                                <a href="">{{i.StudentName}}</a>
                            
                          </td>
                          <td>{{i.CourseName}}</td>
                          <td>{{i.Mobile}}</td>
                          <td>{{i.PresentAddress}}</td>
                          <td>{{i.AdmissionDate}}</td>
                          
                          <td class="text-right">
                             <div class="actions">
                             
                                <a href="{% url 'editStudent' i.id %}" class="btn btn-sm bg-success-light mr-2">
                                <i class="fas fa-pen"></i>
                                </a>
                                <a href="" class="btn btn-sm bg-danger-light">
                                <i class="fas fa-trash"></i>
                                </a>
                             </div>
                          </td>
                       </tr>
                       {% endfor %}
                          
                        
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <h3 class="page-title">Course List</h3>
               <hr>
               <div class="table-responsive">
                   {% include 'commons/message.html' %}
                  <table id="tabledata" class="table table-striped table-bordered" cellspacing="0" width="100%">
                     <thead>
                        <tr>
                           <th>ID No</th>
                           <th>Course Name</th>
                           <th>No of Students</th>
                           <th>Course Duration</th>
                           <th>Course Fee</th>
                           <th class="text-right">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                       
                       {% for i in courseList %}
                       <tr>
                          <td>{{i.id}}</td>
                          <td>
                             <a href="">{{i.CourseName}}</a>
                          </td>
                          <td>{{i.studentcount}}</td>
                          <td>{{i.CourseDuration}} মাস</td>
                          <td>{{i.CourseFee}}/-</td>
                          
                          <td class="text-right">
                             <div class="actions">
                                
                                <a href="{% url 'editCoursePage' i.id %}" class="btn btn-sm bg-success-light mr-2">
                                <i class="fas fa-pen"></i>
                                </a>
                                <a href="{% url 'deleteCourse' i.id %}" class="btn btn-sm bg-danger-light">
                                <i class="fas fa-trash"></i>
                                </a>
                             </div>
                          </td>
                       </tr>
                       {% endfor %}
                          
                        
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   

</div>
{% endblock admincontent %}
    