
<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <!-- <h3>Sobjanta</h3> -->
            <img src="../static/images/logo.png" class="img-fluid animated" alt="sobjantalogo">

          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>গুরুত্বপূর্ণ লিংক</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'homePage' %}">হোম</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'aboutUs' %}">আমাদের সম্পর্কে</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contactUsPage' %}">যোগাযোগ</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>আমাদের সেবাসমূহ</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'coursePage' %}">কোর্সসমূহ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'servicePage' %}">সেবাসমূহ</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <!-- <h4>Our Social Networks</h4> -->
            <p>সর্বশেষ আপডেট, খবরের জন্য আমাদের সামাজিক মিডিয়া যোগ দিন। 📱💬 ফেসবুকে এবং ইউটিউবে আমাদের অনুসরণ করুন।
              আমাদের সাথে সংযুক্ত থাকুন!</p>
            <div class="social-links mt-3">

              <a href="https://www.facebook.com" target="_blank" class="facebook" aria-label="Facebook">
                <i class="bx bxl-facebook"></i>
              </a>

              <a href="https://www.youtube.com" target="_blank" class="youtube" aria-label="Youtube">
                <i class='bx bxl-youtube'></i>
              </a>

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Rainbow Computer Point</span></strong>. All Rights Reserved
      </div>
      <!-- <div class="developer">
            Developed by <strong><a href="https://mrshakil015.github.io/" target="_blank">CodeMod</a></strong>
          </div> -->
    </div>
  </footer><!-- End Footer -->
