<header class="navigation bg-tertiary">
    <nav class="navbar navbar-expand-xl navbar-light text-center py-3">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img loading="prelaod" decoding="async" class="img-fluid" width="160" src="../static/images/logo.png"
            alt="রেইনবো">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
            class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item"> <a class="nav-link" href="{% url 'homePage' %}">হোম</a>
            </li>
            <li class="nav-item "> <a class="nav-link" href="{% url 'aboutUs' %}">আমাদের সম্পর্কে</a>
            </li>
            <li class="nav-item "> <a class="nav-link" href="{% url 'coursePage' %}">কোর্সসমূহ</a>
            </li>
            <li class="nav-item "> <a class="nav-link" href="{% url 'servicePage' %}">সেবাসমূহ</a>
            </li>
            <li class="nav-item "> <a class="nav-link" href="{% url 'galleryPage' %}">গ্যালারী</a>
            </li>
            <li class="nav-item "> <a class="nav-link" href="{% url 'contactUsPage' %}">যোগাযোগ</a>
            <li class="nav-item "> <a class="nav-link" href="{% url 'blogsPage' %}">ব্লোগ</a>
            </li>


          </ul>
          <a href="{% url 'admissionformPage' %}" class="btn btn-primary ">ভর্তির আবেদন</a>
          <a href="{% url 'studentSignin' %}" class="btn btn-outline-primary ms-2 ms-lg-3">লগইন</a>


        </div>
      </div>
    </nav>
  </header>