asgiref==3.9.1
Django==5.2.5
django-cleanup==9.0.0
django-silk==5.4.2
django-widget-tweaks==1.5.0
et_xmlfile==2.0.0
gprof2dot==2025.4.14
openpyxl==3.1.5
pillow==11.3.0
python-dotenv==1.1.1
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.11.0
