{% extends 'master/master.html' %}

{% block content %}
<section class="page-header bg-tertiary">
    <div class="container">
      <div class="row">
        <div class="col-8 mx-auto text-center">

        </div>
      </div>
    </div>

  </section>

  <section class="about-section section position-relative overflow-hidden">
    <div class="container">
      <div class="row justify-content-center">
        <div class="section-title">
          <h1>আমাদের সেবাসমূহ</h1>
          <p>আমরা আমাদের প্রতিষ্ঠানে কম্পিউটার এবং অনলাইন সংক্রান্ত সকল প্রকার সেবা দিয়ে থাকি। </p>
          <hr>
        </div>
        <div class="row" id="service-cards-container">
          {% for i in serviceData %}
          <div class="col-lg-4">
            <div class="card card-item">
              <div class="card-body">
                <div class="rounded">
                  <img class="colored-box text-center h3" src="../static/images/icons/serviceicon.png" alt="Service Icon" width="30" height="30">
                  <h3 class="mb-3">{{i.ServiceName}}</h3>
                  <p>{{i.AboutService}}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
    
{% endblock content %}
    