{% extends 'master/master.html' %}

{% block content %}
<section class="page-header bg-tertiary">
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto text-center">

            </div>
        </div>
    </div>

</section>

<section class="application-section section">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="section-title">
                <h1>শিক্ষার্থী ভর্তি আবেদন ফরম</h1>
                <p>ভর্তির আবেদন করতে নিচের ফরমটি পূরণ করুন</p>
            </div>
        </div>
</section>
<section class="form-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-lg-12">
                <div class="card-body">
                    <div class="card-title">
                        <!-- <h3>শিক্ষার্থী আবেদন ফরম</h3> -->
                        <p>বিঃদ্রঃ ফরমটি অবশ্যই ইংরেজিতে পূরণ করতে হবে।<br> সকল তথ্য অবশ্যই সার্টিফিকেট অনুযায়ী দিতে
                            হবে।</p>
                    </div>
                    <form id="contact-form" role="form" action="/applicationform" method="post"
                        enctype="multipart/form-data">
                        <div class="controls">
                            <div class="row">

                                <div class="input-section col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="coursename">কোর্স সিলেক্ট করুন *</label>
                                        <select id="coursename" name="coursename" class="form-control"
                                            required="required" data-error="Select the Course.">
                                            <option value="" selected disabled>--Select Course--</option>
                                            <option>Office Application Program</option>
                                            <option>Graphic Designing</option>
                                            <option>Digital Marketing</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-name">শিক্ষার্থীর নাম *</label>
                                        <input id="applicant-studentname" type="text" name="applicant-studentname"
                                            class="form-control" placeholder="Full Name *" required="required">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-fathername">পিতার নাম *</label>
                                        <input id="applicant-fathername" type="text" name="applicant-fathername"
                                            class="form-control" placeholder="Father Name *" required="required">
                                    </div>
                                </div>
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-mothername">মাতার নাম *</label>
                                        <input id="applicant-mothername" type="text" name="applicant-mothername"
                                            class="form-control" placeholder="Mother Name *" required="required">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-dob">জন্ম তারিখ *</label>
                                        <input id="applicant-dob" type="date" name="applicant-dob"
                                            class="form-control" placeholder="Date of Birth *" required="required">
                                    </div>
                                </div>


                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-gender">লিঙ্গ *</label>
                                        <select id="applicant-gender" name="applicant-gender" class="form-control"
                                            required="required" data-error="Select the Course.">
                                            <option value="" selected disabled>--Select Gender--</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-email">ইমেল *</label>
                                        <input id="applicant-email" type="text" name="applicant-email"
                                            class="form-control" placeholder="Email Address *" required="required">
                                    </div>
                                </div>
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-mobile">মোবইল *</label>
                                        <input id="applicant-mobile" type="number" name="applicant-mobile"
                                            class="form-control" placeholder="Mobile No *" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-address">ঠিকানা *</label>
                                        <input id="applicant-address" type="text" name="applicant-address"
                                            class="form-control" placeholder="Address *" required="required">
                                    </div>
                                </div>
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="photo" class="form-label">ছবি (সর্বোচ্চ ২ MB, ৫৩০ x ৬৫০
                                            Pixels)
                                            *</label>
                                        <input class="form-control" type="file" accept="image/*" id="photo"
                                            name="photo" required="required">
                                    </div>
                                </div>
                                <script>
                                    // Function to handle file input change event
                                    function checkImage(input) {
                                        input.classList.remove('error-border');

                                        if (input.files && input.files[0]) {
                                            let file = input.files[0];
                                            let maxSize = 2 * 1024 * 1024;
                                            let requiredWidth = 530;
                                            let requiredHeight = 650;

                                            // Check file size
                                            if (file.size > maxSize) {
                                                Swal.fire({
                                                    title: "Error!",
                                                    text: "ছবির সাইজ অবশ্যই ২ MB এর কম হতে হবে।",
                                                    icon: "error"
                                                });
                                                input.value = '';
                                                input.classList.add('error-border');
                                                return;
                                            }

                                            let img = new Image();
                                            img.onload = function () {
                                                // Check image dimensions
                                                if (img.width !== requiredWidth || img.height !== requiredHeight) {
                                                    Swal.fire({
                                                        title: "Error!",
                                                        text: "ছবির সাইজ অবশ্যই 530x650 Pixels হতে হবে।",
                                                        icon: "error"
                                                    });
                                                    input.value = '';
                                                    input.classList.add('error-border');
                                                }
                                            };
                                            img.src = URL.createObjectURL(file);
                                        }
                                    }

                                    let fileInput = document.getElementById('photo');

                                    fileInput.addEventListener('change', function () {
                                        checkImage(this);
                                    });
                                </script>

                            </div>

                        </div>
                        <div class="form-footer">
                            <button type="submit" class="btn col-lg-3" id="add-service-button">সাবমিট করুন</button>
                        </div>
                        {% if message %}
                        <script>
                            // Display SweetAlert when message exists
                            document.addEventListener('DOMContentLoaded', function () {
                                Swal.fire({
                                    title: "Good job!",
                                    text: "{{ message }}",
                                    icon: "success"
                                });
                            });
                        </script>
                        {% endif %}

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
    
{% endblock content %}
    