{% extends 'master/master.html' %}

{% block content %}
<section class="page-header bg-tertiary">
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto text-center">

            </div>
        </div>
    </div>

</section>
{% include 'commons/message.html' %}
<section class="application-section section">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="section-title">
                <h1>শিক্ষার্থী ভর্তি আবেদন ফরম</h1>
                <p>ভর্তির আবেদন করতে নিচের ফরমটি পূরণ করুন</p>
            </div>
        </div>
</section>
<section class="form-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-lg-12">
                <div class="card-body">
                    <div class="card-title">
                        <!-- <h3>শিক্ষার্থী আবেদন ফরম</h3> -->
                        <p>বিঃদ্রঃ ফরমটি অবশ্যই ইংরেজিতে পূরণ করতে হবে।<br> সকল তথ্য অবশ্যই সার্টিফিকেট অনুযায়ী দিতে
                            হবে।</p>
                    </div>
                    
                    <form id="contact-form" role="form" action="{% url 'admissionformPage' %}" method="POST"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="controls">
                            <div class="row">
                               
                                <div class="input-section col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="coursename">কোর্স সিলেক্ট করুন *</label>
                                        <select id="coursename" name="coursename" class="form-control"
                                            required="required" data-error="Select the Course.">
                                            <option value="" selected disabled>--Select Course--</option>

                                            
                                            {% for i in courseData %}

                                            <option value="{{i.CourseName}}">{{i.id}} - {{i.CourseName}}</option>
                                                
                                            {% endfor %}
                                                
                                        </select>
                                    </div>
                                </div>
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-name">শিক্ষার্থীর নাম *</label>
                                        <input id="applicant-studentname" type="text" name="studentname"
                                            class="form-control" placeholder="Full Name *" required="required">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-fathername">পিতার নাম *</label>
                                        <input id="applicant-fathername" type="text" name="fathername"
                                            class="form-control" placeholder="Father Name *" required="required">
                                    </div>
                                </div>
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-mothername">মাতার নাম *</label>
                                        <input id="applicant-mothername" type="text" name="mothername"
                                            class="form-control" placeholder="Mother Name *" required="required">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-dob">জন্ম তারিখ *</label>
                                        <input id="applicant-dob" type="date" name="dob"
                                            class="form-control" placeholder="Date of Birth *" required="required">
                                    </div>
                                </div>


                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-gender">লিঙ্গ *</label>
                                        <select id="applicant-gender" name="gender" class="form-control"
                                            required="required">
                                            <option value="" selected disabled>--Select Gender--</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-religion">ধর্ম *</label>
                                        <input id="applicant-religion" type="text" name="religion"
                                            class="form-control" placeholder="Religion *" required="required">
                                    </div>
                                </div>
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-email">ইমেল *</label>
                                        <input id="applicant-email" type="text" name="email"
                                            class="form-control" placeholder="Email Address *" required="required">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-mobile">মোবাইল *</label>
                                        <input id="applicant-mobile" type="number" name="mobile"
                                            class="form-control" placeholder="Mobile No *" required="required">
                                    </div>
                                </div>
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-emergency">ইমারজেন্সি মোবাইল *</label>
                                        <input id="applicant-emergency" type="number" name="emergency"
                                            class="form-control" placeholder="Emergency Mobile No *" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-qualification">শিক্ষাগত যোগ্যতা *</label>
                                        <input id="applicant-qualification" type="text" name="qualification"
                                            class="form-control" placeholder="Qualification *" required="required">
                                    </div>
                                </div>
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-address">ঠিকানা *</label>
                                        <input id="applicant-address" type="text" name="address"
                                            class="form-control" placeholder="Address *" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="applicant-permanentaddress">স্থায়ী ঠিকানা *</label>
                                        <input id="applicant-permanentaddress" type="text" name="permanentaddress"
                                            class="form-control" placeholder="Permanent Address *" required="required">
                                    </div>
                                </div>
                                <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="photo" class="form-label">ছবি (সর্বোচ্চ ২ MB, ৫৫০ x ৬৫০ Pixels) *</label>
                                        <input class="form-control" type="file" accept="image/*" id="photo" name="studentphoto" required="required">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-footer">
                            <button type="submit" class="btn col-lg-3" id="add-service-button">সাবমিট করুন</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                                
</section>
    
{% endblock content %}
    