{% extends 'master/master.html' %}

{% block content %}



<section class="banner bg-tertiary position-relative overflow-hidden">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="block text-center text-lg-start pe-0 pe-xl-5">
          <p class="rainbow-text0">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার কর্তৃক অনুমোদিত</p>
          <h1 class="rainbow-text1"><strong>রেইনবো</strong></h1>
          <h2 class="rainbow-text2 mb-4">কম্পিউটার পয়েন্ট</h2>
          <p class="text-justify mb-4">আমাদের প্রতিষ্ঠানের পক্ষ থেকে আপনাদের সকলকে জানাই আন্তরিক শুভেচ্ছা। আমরা দীর্ঘ
            একযুগেরও বেশি সময় ধরে তথ্য ও প্রযুক্তির উন্নয়নে কাজ করে আসছি। আমাদের মূল লক্ষ্য বেকার
            জনগোষ্ঠিকে প্রযুক্তিভিত্তিক আত্মনির্ভরশীল করে গড়ে তোলা এবং বাংলাদেশ সরকারের ডিজিটাল
            বাংলাদেশকে স্মার্ট বাংলাদেশে রুপান্তর করা।</p>
          <a type="button" class="btn btn-primary" href="/applicationform">ছাত্র/ছাত্রী ভর্তির আবেদন <span
              style="font-size: 14px;" class="ms-2 fas fa-arrow-right"></span></a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="text-center">
          <img loading="lazy" decoding="async" src="../static/images/banner3.png" alt="banner image"
            class="banner-img w-100">
        </div>
      </div>
    </div>
  </div>

</section>

<section class="section course-section">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h1>আমাদের কোর্সসমূহ</h1>
        <p>সময়োপযোগী কোর্সসমূহ দিয়ে সাজানো হয়েছে আমাদের পাঠ্যসূচি, যা আপনাকে বিশ্বজুড়ে কর্মক্ষম করে গড়ে তুলবে</p>
        <hr>
      </div>
      <div class="row" id="course-cards-container">
        {% for i in courseData %}
        <div class="col-lg-4 course-card-item">
          <div class="card card-item">
            <div class="card-header view view-cascade overlay text-center">
              <img src="{{i.CourseImage.url}}" class="card-img-top" alt="profile image">
            </div>
            <div class="card-body">
              <hr>
              <h4 class="card-title"><strong>{{i.CourseName}}</strong></h4>
              <div class="card-info">
                <button class="btn btn-outline-primary">{{i.CourseDuration}} মাস</button>
                <button class="btn btn-outline-primary">সপ্তাহে {{i.WeeklyClass}} দিন</button>
                <button class="btn btn-outline-primary"> {{i.ClassDurationHour}} ঘন্টা {{i.ClassDurationMinute}} মিনিট</button>
                <p class="price">৳ {{i.CourseFee}}/-</p>
                <hr>
                <div class="course-footer">
                  <a href="{% url 'viewCourse' i.id %}" class="btn btn-outline-primary">বিস্তারিত দেখুন</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="course-pagination-controls" class="mt-4"></div>
    </div>
  </div>
</section>


<section class="about-section section bg-tertiary position-relative overflow-hidden">
  <div class="container">
    <div class="row justify-content-center">
      <div class="section-title">
        <h1>আমাদের সেবাসমূহ</h1>
        <p>আমরা আমাদের প্রতিষ্ঠানে কম্পিউটার এবং অনলাইন সংক্রান্ত সকল প্রকার সেবা দিয়ে থাকি। </p>
        <hr>
      </div>
      <div class="row" id="service-cards-container">
        {% for i in serviceData %}
        <div class="col-lg-4 service-card-item">
          <div class="card card-item">
            <div class="card-body">
              <div class="rounded">
                <img class="colored-box text-center h3" src="../static/images/icons/serviceicon.png" alt="Service Icon" width="30" height="30">
                <h3 class="mb-3">{{i.ServiceName}}</h3>
                <p>{{i.AboutService}}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="service-pagination-controls" class="mt-4"></div>
    </div>
  </div>
</section>


<section class="section success-student">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h1>সফল ছাত্র/ছাত্রী</h1>
        <p>আমাদের প্রতিষ্ঠান থেকে প্রশিক্ষণ শেষে সরকারের বিভিন্ন মন্ত্রণালয়/বিভাগ/জেলা/উপজেলায় চাকরি প্রাপ্তদের
          বর্তমান কর্মস্থল (আংশিক)</p>
        <hr>
      </div>
      <div class="row" id="successfulstudent-cards-container">
        {% for i in successStudentData %}
        <div class="col-lg-3 student-card-item">
            <div class="card card-item">
                <div class="view view-cascade overlay text-center">
                    <img src="{{ i.StudentImage.url }}" class="card-img-top" alt="profile image">
                </div>
                <div class="card-body">
                    <h4 class="card-title"><strong>{{ i.StudentName }}</strong></h4>
                    <p class="designation">{{ i.StudentDesignation }}</p>
                    <p class="institute">{{ i.StudentInstitute }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="student-pagination-controls" class="mt-4"></div>
    </div>
  </div>
</section>


<section class="section bg-tertiary gallery">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h1>গ্যালারী</h1>
        <hr>
      </div>
      <div class="row" id="galleryimage-cards-container">
        {% for i in galleryData %}
        <div class="col-lg-4 gallery-item">
            <div class="img-card" style="height: 300px; padding-top:20px;">
                <img src="{{ i.GalleryImage.url }}" class="card-img-top" alt="profile image" style="width: 100%; height: 100%; object-fit: cover; border-radius: 20px;" data-toggle="modal" data-target="#imageModal" data-img-url="{{ i.GalleryImage.url }}">
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="gallery-pagination-controls" class="mt-4"></div>
    </div>
  </div>
</section>

<!-- Modal Structure -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">Preview Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="modalImage" src="" alt="Full size image" style="width: 100%; height: auto;">
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap JS, jQuery, and Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  $('#imageModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var imgUrl = button.data('img-url'); // Extract info from data-* attributes
    var modal = $(this);
    modal.find('#modalImage').attr('src', imgUrl);
  });
</script>


<!-- ======= Contact Section ======= -->
<section id="contact" class="section contact">
  <div class="container">
    <div class="section-title">
      <h1>যোগাযোগ করুন</h1>
      <p>ভর্তি এবং যাবতীয় বিষয় সম্পর্কে আমাদের সাথে যোগাযোগ করুন।</p>
      <hr>
    </div>

    {% for i in contactData %}
    <div class="row mt-2">

      <div class="col-md-6 d-flex align-items-stretch">
        <div class="card info-box">
          <i class="bx bx-map"></i>
          <h3>আমাদের ঠিকানা</h3>
          <p>{{i.Address}}</p>
        </div>
      </div>

      <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
        <div class="card info-box">
          <i class="bx bx-share-alt"></i>
          <h3>সোশাল মিডিয়া</h3>
          <div class="social-links">
            <a href="{{i.Facebook}}" class="facebook" target="_blank"><i
                class="bi bi-facebook"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-4 d-flex align-items-stretch">
        <div class="card  info-box">
          <i class="bx bx-envelope"></i>
          <h3>ই-মেইল</h3>
          <p>{{i.Email}}</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 d-flex align-items-stretch">
        <div class="card info-box">
          <i class="bx bx-phone-call"></i>
          <h3>মোবাইল</h3>
          <p>{{i.Mobile}}</p>
        </div>
      </div>
      <div class="location-section">
        <div class="col-md-12 d-flex align-items-stretch">
          <iframe
            src="{{i.MapLink}}"
            frameborder="0" style="width: 100%; height: 290px;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
      
    {% endfor %}
  </div>
</section><!-- End Contact Section -->


{% endblock content %}